# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore migrations
*/migrations/

# Ignore the virtual environment directory
env/

# Ignore log files
*.log

# Ignore sensitive or environment-specific configuration files
config.ini

# Ignore macOS system files
.DS_Store

# Ignore pycharm files
.idea

# Node.JS dependencies
node_modules/
