.container {
    /*max-width: 1300px; /* Set the maximum width for the container */
    padding: 0 20px; /* Add some padding on the sides for spacing */
}

.top-section {
    flex: 1;
}

.large-text {
    position: absolute;
    font-size: 62px;
    margin-top: 155px;
    margin-left: 50px;
}

.small-container {
    position: absolute;
    max-width: 615px; /* Set the maximum width for the small container */
    margin-top: 250px; /* Adds some margin between large and small containers */
    margin-left: 75px;
}

.small-paragraph {
    font-size: 20px;
    line-height: 1.5;
}

.image-container {
    max-width: 50%;
    margin-left: auto;
    margin-top: 20px;
}
  
.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

    
.bottom-section {
    /*display: flex; /* Use flexbox to horizontally align rectangles */
    /*justify-content: space-between; /* Distribute space between rectangles */
    display: flex;
    background-color: #354c9c; /* Set background color for the bottom section */
    padding: 300px 0; /* Add padding to top and bottom of the section */
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; 

}

/* Add padding to the sides within the container */
.bottom-section .inner-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px; /* Adjust padding to match the container's padding */
  max-width: 1300px; /* Optional: Set maximum width for the inner container */
  width: 100%;
  /* position: relative; */
}

.bottom-section .header-text {
    position: absolute; 
    font-size: 62px;
    text-align: center;
    width: 100%; /* Take up full width of parent container */
    left: 50%; /* Position the text at vertical center */
    transform: translateX(-50%); /* Center the text vertically */
    margin-top: -185px;
    color: black;
}

.rectangle {
  width: calc(33.33% - 20px); /* Set width of each rectangle */
  height: 400px; /* Set height of each rectangle */
  background-color: #EFE2BA;; /* Set background color for rectangles */
  border-radius: 10px; /* Add border radius to create rounded corners */
  margin: 0 50px; /* Add some space between rectangles */
}

.rectangle .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rectangle .image {
  position: absolute;
  width: 250px; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 180px;
  margin-top: -60px;
}

.rectangle .large-text {
  position: absolute;
  margin-top: -40px; /* Adjust spacing between image and large text */
  text-align: center; /* Center align the large text */
  font-size: 20px;
  margin-left: 6px;
}

.rectangle .small-text {
  position: absolute;
  margin-top: 160px;; /* Push small text to the bottom */
  text-align: center; /* Center align the small text */
  font-size: 14px;
  max-width: 20%;
}
